<% unless @messages.blank? %>
<div class="tiedotteet">
<h3>Tiedotteet:</h3>
      <% for message in @messages %>
				<h4><%= message.name %></h4>
        <span>Julkaistu: <%= localize message.valid_from, :format => :short %>
				</span>
				<p>
				<%= message.content %>
				</p>    
      <% end %>
</div>
<% end %>
